.colorPickerContainer {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: #212121;
    border: solid 2px hsl(0, 00%, 40%);
}

.hg-master {
    position: relative;
    top: 0px;
    left: 0px;
    user-select: none;
    -webkit-user-select: none;
    height:8px;
    width: 100%;
    border-radius: 20px;
    
    background: linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
}

.hg-circle {
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    height: 20px;
    width: 20px;
    left: 10px;
    top: -15px;
    border: 2px white solid;
    background-color: hsl(0,100%,50%);
    border-radius: 22px;
    border-radius: 50%;
}

.hg-btnsWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hg-cancelBtn
{
    display: inline;
    align-self: flex-start;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding: 15px 32px;
    background-color: hsl(110, 0%, 40%);
    color: white;
    border: none;
    
    margin: 1%;

    display: inline-block;
    font-size: 16px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hg-valBtn
{
    align-self: flex-end;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding: 15px 32px;
    background-color: hsl(110, 80%, 40%);
    color: white;
    border: none;
    position: relative;
    right: 0;

    margin: 1%;

    display: inline-block;
    font-size: 16px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hg-cancelBtn:hover
{
    background-color: hsl(110, 0%, 35%);
}

.hg-cancelBtn:active
{
    background-color: hsl(110, 0%, 30%);
}


.hg-valBtn:hover
{
    background-color: hsl(110, 80%, 35%);
}

.hg-valBtn:active
{
    background-color: hsl(110, 80%, 30%);
}